body {
    font-family: 'DM sans' sans-serif;
    background-color: hsl(212, 45%, 89%);
   
}

.card {
    border-radius: 20px;
    border: none;

}

body .main-card,
body .card-purple, 
body .card-dark-purple {
  background-color: #7630f7;
  color: #ffffff;
}

body .card-yellow {
  background-color: #ffcb5b;
}

body .card-light-purple {
  background-color: #dacffc;
}

body .card-light-cream {
  background-color: #f9f4e8;
}

.card img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.card-light-cream img {
  margin-top: auto;
  padding-top: 2rem;
}

.text-purple {
  color: #7630f7;
}

.text-yellow {
  color: #ffcb5b;
}